.element__place {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2; */
  width: 246px;
  margin: 25px auto 31px;
}
@media screen and (max-width: 743px) {
  .element__place {
    max-width: 200px;
  }
}
@media screen and (max-width: 426px) {
  .element__place {
    max-width: 246px;
  }
}
