.profile__update-avatar {
  background-image: url(../../../images/VectorAvatar.svg);
  margin: 0;
  padding: 0;
  border: 0;
  height: 120px;
  width: 120px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__update-avatar:hover {
  opacity: 1;
}
